<%- include('../layout/top-nav') -%>

<div id="layoutSidenav">
    <%- include('../layout/side-nav') -%>
    <div id="layoutSidenav_content">
        <main id="mainDiagram">
            <div class="container-fluid">
                <h1 id="labelDashboard" class="my-4">Dashboard</h1>
                <div id="labelDetails" class="my-4 align-self-center" style="display: none;">
                    <h1 >Details</h1>
                    <a class="ml-auto align-self-center h6" href="/admin"><i class="fas fa-chevron-left mr-2 "></i>BACK</a>
                </div>
                <div class="row">
                    <div id="diagramVisitCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Visit Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartVisitCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.visitCompliance.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsVisitCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableVisitCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Visit Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableVisitCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramFixtureCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Fixture Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartFixtureCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.fixtureCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.fixtureCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsFixtureCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableFixtureCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Fixture Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableFixtureCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPOGCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POG Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartPOGCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.POGCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.POGCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPOGCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePOGCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data POG Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTablePOGCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPODCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POD Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartPODCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.PODCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.PODCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPODCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePODCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data POD Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTablePODCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPOPCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POP Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartPOPCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.POPCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.POPCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPOPCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePOPCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data POP Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTablePOPCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramInStockCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">In-Stock Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartInStockCompliance" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.instockCompliance.entryInstockCompliance) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.instockCompliance.exitInstockCompliance) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsInStockCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableInStockCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data In-Stock Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableInStockCompliance" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramActivationKnowHow" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Activation know-how</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartActivationKnowHow" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.activationKnowHow.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsActivationKnowHow()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableActivationKnowHow" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Activation know-how</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableActivationKnowHow" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPromotionAwareness" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Promotion Awareness</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartPromotionAwareness" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.promotionAwareness.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPromotionAwareness()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePromotionAwareness" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Promotion Awareness</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTablePromotionAwareness" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramComplaintHandling" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Complaint Handling</h5>
                            <div class="card-body">
                                <canvas class="mb-4" id="chartComplaintHandling" width="100%" height="50"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.complaintHandling.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsComplaintHandling()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableComplaintHandling" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Complaint Handling</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableComplaintHandling" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Corect Fixture</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; BLACKHAWK NETWORK 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type='text/javascript'>

    console.log("data dashboar", <%- JSON.stringify(dashboard) %>)

    $(document).ready(function() {
        $('#dataTableVisitCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.visitCompliance.allDataVisit) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableFixtureCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.fixtureCompliance.dataFixComp) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePOGCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.POGCompliance.dataPOGComp) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePODCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.PODCompliance.dataPODCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePOPCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.POPCompliance.dataPOPCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableInStockCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.instockCompliance.dataInstockCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableActivationKnowHow').DataTable({
            data: <%- JSON.stringify(dashboard.activationKnowHow.dataActivationKnowHow) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePromotionAwareness').DataTable({
            data: <%- JSON.stringify(dashboard.promotionAwareness.dataPromotionAwareness) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableComplaintHandling').DataTable({
            data: <%- JSON.stringify(dashboard.complaintHandling.dataComplaintHandling) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_fixture_comp == true && row.exit_fixture_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_fixture_comp == true) {
                            return 'Entry'
                        } else if (row.exit_fixture_comp == true) {
                            return 'Exit'
                        } 
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [4],
                    orderable: false,
                },
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });
    });

    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var chartVisitCompliance = document.getElementById("chartVisitCompliance");
    var chartFixtureCompliance = document.getElementById("chartFixtureCompliance");
    var chartPOGCompliance = document.getElementById("chartPOGCompliance");
    var chartPODCompliance = document.getElementById("chartPODCompliance");
    var chartPOPCompliance = document.getElementById("chartPOPCompliance");
    var chartInStockCompliance = document.getElementById("chartInStockCompliance");
    var chartActivationKnowHow = document.getElementById("chartActivationKnowHow");
    var chartPromotionAwareness = document.getElementById("chartPromotionAwareness");
    var chartComplaintHandling = document.getElementById("chartComplaintHandling");

    
    var tempDashboardVisitCompliancePersen = <%- dashboard.visitCompliance.persen %>
    var tempDashboardFixtureComplianceEntry = <%- dashboard.fixtureCompliance.entry %>
    var tempDashboardFixtureComplianceExit = <%- dashboard.fixtureCompliance.exit %>
    var tempDashboardPOGComplianceEntry = <%- dashboard.POGCompliance.entry %>
    var tempDashboardPOGComplianceExit = <%- dashboard.POGCompliance.exit %>
    var tempDashboardPODComplianceEntry = <%- dashboard.PODCompliance.entry %>
    var tempDashboardPODComplianceExit = <%- dashboard.PODCompliance.exit %>
    var tempDashboardPOPComplianceEntry = <%- dashboard.POPCompliance.entry %>
    var tempDashboardPOPComplianceExit = <%- dashboard.POPCompliance.exit %>
    var tempDashboardInstockComplianceEntryInstockCompliance = <%- dashboard.instockCompliance.entryInstockCompliance %>
    var tempDashboardInstockComplianceExitInstockCompliance = <%- dashboard.instockCompliance.exitInstockCompliance %>
    var tempDashboardActivationKnowHowPersen = <%- dashboard.activationKnowHow.persen %>
    var tempDashboardPromotionAwarenessPersen = <%- dashboard.promotionAwareness.persen %>
    var tempDashboardComplaintHandlingPersen = <%- dashboard.complaintHandling.persen %>

    var tempvisitCompliancePersen = 0
    if (tempDashboardVisitCompliancePersen != null) {
        if (tempDashboardVisitCompliancePersen <= 100) {
            tempvisitCompliancePersen = 100 - tempDashboardVisitCompliancePersen
        }
    }

    var tempactivationKnowHowPersen = 0
    if (tempDashboardActivationKnowHowPersen != null) {
        if (tempDashboardActivationKnowHowPersen <= 100) {
            tempactivationKnowHowPersen = 100 - tempDashboardActivationKnowHowPersen
        }
    }

    var temppromotionAwarenessPersen = 0
    if (tempDashboardPromotionAwarenessPersen != null) {
        if (tempDashboardPromotionAwarenessPersen <= 100) {
            temppromotionAwarenessPersen = 100 - tempDashboardPromotionAwarenessPersen
        }
    }
    
    var tempcomplaintHandlingPersen = 0
    if (tempDashboardComplaintHandlingPersen != null) {
        if (tempDashboardComplaintHandlingPersen <= 100) {
            tempcomplaintHandlingPersen = 100 - tempDashboardComplaintHandlingPersen
        }
    }
    
    var configChartVisitCompliance = new Chart(chartVisitCompliance, {
        type: 'pie',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: [tempDashboardVisitCompliancePersen, tempvisitCompliancePersen],
                backgroundColor: ['#007bff', '#f7f7f7'],
            }],
        },
    });

    var configChartFixtureCompliance = new Chart(chartFixtureCompliance, {
        type: 'pie',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
            data: [tempDashboardFixtureComplianceEntry, tempDashboardFixtureComplianceExit, 200 - (tempDashboardFixtureComplianceEntry + tempDashboardFixtureComplianceExit)],
            backgroundColor: ['#007bff', '#00cec9', '#f7f7f7'],
            }],
        },
    });

    var configChartPOGCompliance = new Chart(chartPOGCompliance, {
        type: 'pie',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
            data: [tempDashboardPOGComplianceEntry, tempDashboardPOGComplianceExit, 200 - (tempDashboardPOGComplianceEntry + tempDashboardPOGComplianceExit)],
            backgroundColor: ['#007bff', '#00cec9','#f7f7f7'],
            }],
        },
    });

    var configChartPODCompliance = new Chart(chartPODCompliance, {
        type: 'pie',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: [tempDashboardPODComplianceEntry, tempDashboardPODComplianceExit, 200 - (tempDashboardPODComplianceEntry + tempDashboardPODComplianceExit)],
                backgroundColor: ['#007bff', '#00cec9', '#f7f7f7'],
            }],
        },
    });

    var configConfigChartPOPCompliance = new Chart(chartPOPCompliance, {
        type: 'pie',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: [tempDashboardPOPComplianceEntry, tempDashboardPOPComplianceExit, 200 - (tempDashboardPOPComplianceEntry + tempDashboardPOPComplianceExit)],
                backgroundColor: ['#007bff', '#00cec9', '#f7f7f7'],
            }],
        },
    });

    var configChartInStockCompliance = new Chart(chartInStockCompliance, {
        type: 'pie',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: [tempDashboardInstockComplianceEntryInstockCompliance, tempDashboardInstockComplianceExitInstockCompliance, 200 - (tempDashboardInstockComplianceEntryInstockCompliance + tempDashboardInstockComplianceExitInstockCompliance)],
                backgroundColor: ['#007bff', '#00cec9', '#f7f7f7'],
            }],
        },
    });

    var configChartActivationKnowHow = new Chart(chartActivationKnowHow, {
        type: 'pie',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: [tempDashboardActivationKnowHowPersen, tempactivationKnowHowPersen],
                backgroundColor: ['#007bff', '#f7f7f7'],
            }],
        },
    });

    var configChartPromotionAwareness = new Chart(chartPromotionAwareness, {
        type: 'pie',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: [tempDashboardPromotionAwarenessPersen, temppromotionAwarenessPersen],
                backgroundColor: ['#007bff', '#f7f7f7'],
            }],
        },
    });

    var configChartComplaintHandling = new Chart(chartComplaintHandling, {
        type: 'pie',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: [tempDashboardComplaintHandlingPersen, tempcomplaintHandlingPersen],
                backgroundColor: ['#007bff', '#f7f7f7'],
            }],
        },
    });

    var diagramVisitCompliance = document.getElementById("diagramVisitCompliance");
    var diagramFixtureCompliance = document.getElementById("diagramFixtureCompliance");
    var diagramPOGCompliance = document.getElementById("diagramPOGCompliance");
    var diagramPODCompliance = document.getElementById("diagramPODCompliance");
    var diagramPOPCompliance = document.getElementById("diagramPOPCompliance");
    var diagramInStockCompliance = document.getElementById("diagramInStockCompliance");
    var diagramActivationKnowHow = document.getElementById("diagramActivationKnowHow");
    var diagramPromotionAwareness = document.getElementById("diagramPromotionAwareness");
    var diagramComplaintHandling = document.getElementById("diagramComplaintHandling");

    var tableVisitCompliance = document.getElementById("tableVisitCompliance"); 
    var tableFixtureCompliance = document.getElementById("tableFixtureCompliance");
    var tablePOGCompliance = document.getElementById("tablePOGCompliance");
    var tablePODCompliance = document.getElementById("tablePODCompliance");
    var tablePOPCompliance = document.getElementById("tablePOPCompliance");
    var tableInStockCompliance = document.getElementById("tableInStockCompliance");
    var tableActivationKnowHow = document.getElementById("tableActivationKnowHow");
    var tablePromotionAwareness = document.getElementById("tablePromotionAwareness");
    var tableComplaintHandling = document.getElementById("tableComplaintHandling");

    var labelDetails = document.getElementById("labelDetails");
    var labelDashboard = document.getElementById("labelDashboard");

    function detailsVisitCompliance() {
        diagramFixtureCompliance.style.display = "none"
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableVisitCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsFixtureCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableFixtureCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPOGCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePOGCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPODCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePODCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPOPCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePOPCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsInStockCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableInStockCompliance.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsActivationKnowHow() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableActivationKnowHow.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPromotionAwareness() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePromotionAwareness.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsComplaintHandling() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";

        tableComplaintHandling.style.display = "block"

        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    formatDate = function(date) {
        var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
        
        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;
        
        return [year, month, day].join('-');
    }


</script>

<%- include('../layout/footer') -%>