<%- include('../layout/top-nav') -%>

<div id="layoutSidenav">
    <%- include('../layout/side-nav') -%>
    <div id="layoutSidenav_content">
        <main id="mainDiagram">
            <div class="container-fluid">
                <h1 id="labelDashboard" class="my-4">Dashboard</h1>
                <div id="btnUpload">
                    <div class="mb-2 d-flex justify-content-end">
                        <div class="dropdown pr-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UPLOAD POG
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalQuartetImg(1,1)">IDM</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(1,2)">SAT</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(1,3)">MIDI</a>
                            </div>
                        </div>
                        <div class="dropdown pr-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UPLOAD FIXTURE TRAITS
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalQuartetImg(2,1)">IDM</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(2,2)">SAT</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(2,3)">MIDI</a>
                            </div>
                        </div>
                        <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                UPLOAD PROMOTIONS
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalMultipleImg(3,1)">IDM</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(3,2)">SAT</a>
                                <a class="dropdown-item" href="javascript: void(0)" onclick="uploadModalSingleImg(3,3)">MIDI</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 d-flex justify-content-end">
                        <div class="pr-2">
                            <button class="btn btn-danger" type="button" onclick="uploadModalSingleDoc(4)">
                                UPLOAD STORE LIST
                            </button>
                        </div>
                        <div class="pr-2">
                            <button class="btn btn-warning" type="button" onclick="uploadModalSingleDoc(5)">
                                UPLOAD PERMIT
                            </button>
                        </div>
                        <div class="">
                            <button class="btn btn-info" type="button" onclick="uploadModalSingleDoc(6)">
                                UPLOAD VISIT INTRUCTIONS
                            </button>
                        </div>
                    </div>
                </div>
                <div id="labelDetails" class="my-4 align-self-center" style="display: none;">
                    <h1 >Details</h1>
                    <a class="ml-auto align-self-center h6" href="/admin"><i class="fas fa-chevron-left mr-2 "></i>BACK</a>
                </div>
                <div class="row">
                    <div id="diagramVisitCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Visit Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartVisitCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.visitCompliance.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsVisitCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableVisitCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Visit Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTableVisitCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">DC</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramFixtureCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Fixture Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartFixtureCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.fixtureCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.fixtureCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsFixtureCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableFixtureCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Fixture Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTableFixtureCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Correct Fixture</th>
                                                <th class="text-center">Entry Status Visit</th>
                                                <th class="text-center">Exit Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPOGCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POG Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartPOGCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.POGCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.POGCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPOGCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePOGCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data POG Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTablePOGCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Correct POG</th>
                                                <th class="text-center">Status Visit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPODCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POD Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartPODCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.PODCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.PODCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPODCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePODCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data POD Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTablePODCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Fixture</th>
                                                <th class="text-center">Entry Broken Pegs</th>
                                                <th class="text-center">Entry POD Compliance</th>
                                                <th class="text-center">Exit Broken Pegs</th>
                                                <th class="text-center">Exit POD Compliance</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPOPCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POP Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartPOPCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.POPCompliance.entry) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.POPCompliance.exit) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPOPCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePOPCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-2"></i>Data POP Compliance
                                <!-- <button type="button" class="btn btn-sm btn-primary float-right" onclick="downloadPOP()">Dowload</button> -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTablePOPCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Entry POP 1</th>
                                                <th class="text-center">Entry POP 2</th>
                                                <th class="text-center">Exit POP 1</th>
                                                <th class="text-center">Exit POP 2</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramInStockCompliance" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">In-Stock Compliance</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartInStockCompliance" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="entry col-6">
                                        <h3 class="text-primary"><%- Math.round(dashboard.instockCompliance.entryInstockCompliance) %></h3>
                                        <h6 class="text-primary">Entry</h6>
                                    </div>
                                    <div class="exit col-6">
                                        <h3 class="text-exit"><%- Math.round(dashboard.instockCompliance.exitInstockCompliance) %></h3>
                                        <h6 class="text-exit">Exit</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsInStockCompliance()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableInStockCompliance" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data In-Stock Compliance</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTableInStockCompliance" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Entry Google 50k</th>
                                                <th class="text-center">Entry Google 100k</th>
                                                <th class="text-center">Entry Google 150k</th>
                                                <th class="text-center">Entry Google 300k</th>
                                                <th class="text-center">Entry Google 500k</th>
                                                <th class="text-center">Entry Spotify 1m</th>
                                                <th class="text-center">Entry Spotify 3m</th>
                                                <th class="text-center">Exit Google 50k</th>
                                                <th class="text-center">Exit Google 100k</th>
                                                <th class="text-center">Exit Google 150k</th>
                                                <th class="text-center">Exit Google 300k</th>
                                                <th class="text-center">Exit Google 500k</th>
                                                <th class="text-center">Exit Spotify 1m</th>
                                                <th class="text-center">Exit Spotify 3m</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramActivationKnowHow" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Activation know-how</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartActivationKnowHow" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.activationKnowHow.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsActivationKnowHow()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableActivationKnowHow" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Activation know-how</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTableActivationKnowHow" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Activation</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramPromotionAwareness" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Promotion Awareness</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartPromotionAwareness" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.promotionAwareness.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsPromotionAwareness()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tablePromotionAwareness" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Promotion Awareness</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTablePromotionAwareness" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Promotion Awareness</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="diagramComplaintHandling" class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Complaint Handling</h5>
                            <div class="card-body">
                                <canvas class="mb-2" id="chartComplaintHandling" width="100%" height="100"></canvas>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-primary"><%- Math.round(dashboard.complaintHandling.persen) %></h3>
                                        <h6 class="text-primary">Percent</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="javascript: void(0)" onclick="detailsComplaintHandling()">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div id="tableComplaintHandling" class="mb-4 col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" style="display: none;">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-2"></i>Data Complaint Handling</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover" id="dataTableComplaintHandling" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Retailer</th>
                                                <th class="text-center">Store Code</th>
                                                <th class="text-center">Complain Handling</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; BLACKHAWK NETWORK 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type='text/javascript'>

    console.log("data dashboar", <%- JSON.stringify(dashboard) %>)
    console.log("data file", <%- JSON.stringify(file) %>)

    var file = <%- JSON.stringify(file) %>
    var domain = <%- JSON.stringify(domain) %>
    var token = <%- JSON.stringify(token) %>

    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var chartVisitCompliance = document.getElementById("chartVisitCompliance");
    var chartFixtureCompliance = document.getElementById("chartFixtureCompliance");
    var chartPOGCompliance = document.getElementById("chartPOGCompliance");
    var chartPODCompliance = document.getElementById("chartPODCompliance");
    var chartPOPCompliance = document.getElementById("chartPOPCompliance");
    var chartInStockCompliance = document.getElementById("chartInStockCompliance");
    var chartActivationKnowHow = document.getElementById("chartActivationKnowHow");
    var chartPromotionAwareness = document.getElementById("chartPromotionAwareness");
    var chartComplaintHandling = document.getElementById("chartComplaintHandling");
    
    var configChartVisitCompliance = new Chart(chartVisitCompliance, {
        type: 'bar',
        data: {
            labels: ['Percent'],
            datasets: [{
                label: null,
                data: ['<%- Math.round(dashboard.visitCompliance.persen) %>'],
                backgroundColor: ['#007bff'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartFixtureCompliance = new Chart(chartFixtureCompliance, {
        type: 'bar',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: ['<%- Math.round(dashboard.fixtureCompliance.entry) %>', '<%- Math.round(dashboard.fixtureCompliance.exit) %>'],
                backgroundColor: ['#007bff', '#00cec9'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartPOGCompliance = new Chart(chartPOGCompliance, {
        type: 'bar',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: ['<%- Math.round(dashboard.POGCompliance.entry) %>', '<%- Math.round(dashboard.POGCompliance.exit) %>'],
                backgroundColor: ['#007bff', '#00cec9'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartPODCompliance = new Chart(chartPODCompliance, {
        type: 'bar',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: ['<%- Math.round(dashboard.PODCompliance.entry) %>', '<%- Math.round(dashboard.PODCompliance.exit) %>'],
                backgroundColor: ['#007bff', '#00cec9'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configConfigChartPOPCompliance = new Chart(chartPOPCompliance, {
        type: 'bar',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: ['<%- Math.round(dashboard.POPCompliance.entry) %>', '<%- Math.round(dashboard.POPCompliance.exit) %>'],
                backgroundColor: ['#007bff', '#00cec9'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartInStockCompliance = new Chart(chartInStockCompliance, {
        type: 'bar',
        data: {
            labels: ['Entry', 'Exit'],
            datasets: [{
                data: ['<%- Math.round(dashboard.instockCompliance.entryInstockCompliance) %>', '<%- Math.round(dashboard.instockCompliance.exitInstockCompliancet) %>'],
                backgroundColor: ['#007bff', '#00cec9'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartActivationKnowHow = new Chart(chartActivationKnowHow, {
        type: 'bar',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: ['<%- Math.round(dashboard.activationKnowHow.persen) %>'],
                backgroundColor: ['#007bff'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartPromotionAwareness = new Chart(chartPromotionAwareness, {
        type: 'bar',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: ['<%- Math.round(dashboard.promotionAwareness.persen) %>'],
                backgroundColor: ['#007bff'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var configChartComplaintHandling = new Chart(chartComplaintHandling, {
        type: 'bar',
        data: {
            labels: ['Percent'],
            datasets: [{
                data: ['<%- Math.round(dashboard.complaintHandling.persen) %>'],
                backgroundColor: ['#007bff'],
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100,
                        maxTicksLimit: 20,
                    }
                }]
            },
            legend :{
                display : false
            }
        }
    });

    var diagramVisitCompliance = document.getElementById("diagramVisitCompliance");
    var diagramFixtureCompliance = document.getElementById("diagramFixtureCompliance");
    var diagramPOGCompliance = document.getElementById("diagramPOGCompliance");
    var diagramPODCompliance = document.getElementById("diagramPODCompliance");
    var diagramPOPCompliance = document.getElementById("diagramPOPCompliance");
    var diagramInStockCompliance = document.getElementById("diagramInStockCompliance");
    var diagramActivationKnowHow = document.getElementById("diagramActivationKnowHow");
    var diagramPromotionAwareness = document.getElementById("diagramPromotionAwareness");
    var diagramComplaintHandling = document.getElementById("diagramComplaintHandling");

    var tableVisitCompliance = document.getElementById("tableVisitCompliance"); 
    var tableFixtureCompliance = document.getElementById("tableFixtureCompliance");
    var tablePOGCompliance = document.getElementById("tablePOGCompliance");
    var tablePODCompliance = document.getElementById("tablePODCompliance");
    var tablePOPCompliance = document.getElementById("tablePOPCompliance");
    var tableInStockCompliance = document.getElementById("tableInStockCompliance");
    var tableActivationKnowHow = document.getElementById("tableActivationKnowHow");
    var tablePromotionAwareness = document.getElementById("tablePromotionAwareness");
    var tableComplaintHandling = document.getElementById("tableComplaintHandling");

    var btnUpload = document.getElementById("btnUpload");
    var labelDetails = document.getElementById("labelDetails");
    var labelDashboard = document.getElementById("labelDashboard");

    function detailsVisitCompliance() {
        diagramFixtureCompliance.style.display = "none"
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableVisitCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsFixtureCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableFixtureCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPOGCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePOGCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPODCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePODCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPOPCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePOPCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsInStockCompliance() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableInStockCompliance.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsActivationKnowHow() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramPromotionAwareness.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tableActivationKnowHow.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsPromotionAwareness() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramComplaintHandling.style.display = "none";

        tablePromotionAwareness.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    function detailsComplaintHandling() {
        diagramVisitCompliance.style.display = "none"
        diagramFixtureCompliance.style.display = "none";
        diagramPOGCompliance.style.display = "none";
        diagramPODCompliance.style.display = "none";
        diagramPOPCompliance.style.display = "none";
        diagramInStockCompliance.style.display = "none";
        diagramActivationKnowHow.style.display = "none";
        diagramPromotionAwareness.style.display = "none";

        tableComplaintHandling.style.display = "block"

        btnUpload.style.display = "none"
        labelDashboard.style.display = "none"
        labelDetails.style.display = "flex"
    }

    $(document).ready(function() {
        $('#dataTableVisitCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.visitCompliance.allDataVisit) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: 'tbl_store.tbl_dc.DC_name' },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    className: 'text-center'
                },
                {   width: '25%', 
                    targets: [0, 1, 2, 3]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableFixtureCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.fixtureCompliance.dataFixComp) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: 'entry_correct_fixture_id.fixture_type' },
                { data: null,
                    render : function (data, type, row) {
                        if (row.entry_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if (row.exit_fixture_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5],
                    className: 'text-center'
                },
                {   width: '16.7%', 
                    targets: [0, 1, 2, 3, 4, 5]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePOGCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.POGCompliance.dataPOGComp) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: 'entry_correct_pog' },
                { data: null,
                    render : function (data, type, row) {
                        if (row.entry_pog_comp == true && row.exit_pog_comp == true) {
                            return 'Entry & Exit'
                        } else if (row.entry_pog_comp == true) {
                            return 'Entry'
                        } else if (row.exit_pog_comp == true) {
                            return 'Exit'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePODCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.PODCompliance.dataPODCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: 'tbl_store.fixtureType1.fixture_type'},
                { data: null,
                    render : function (data, type, row) {
                        if (row.entry_broken_hanger == null) {
                            return 0
                        } else {
                            return row.entry_broken_hanger
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if (row.entry_peg_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if (row.exit_broken_hanger == null) {
                            return 0
                        } else {
                            return row.exit_broken_hanger
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if (row.exit_peg_comp == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6, 7],
                    className: 'text-center'
                },
                {   width: '14.3%', 
                    targets: [0, 1, 2, 3, 4, 5, 6, 7]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePOPCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.POPCompliance.dataPOPCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_pop_pic_1 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_pop_pic_2 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_pop_pic_1 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_pop_pic_2 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4],
                    className: 'text-center'
                },
                {   width: '20%', 
                    targets: [0, 1, 2, 3, 4]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableInStockCompliance').DataTable({
            data: <%- JSON.stringify(dashboard.instockCompliance.dataInstockCompliance) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_google50k < 15) {
                            return row.entry_google50k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_google100k < 15) {
                            return row.entry_google100k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_google150k < 15) {
                            return row.entry_google150k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_google300k < 15) {
                            return row.entry_google300k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_google500k < 15) {
                            return row.entry_google500k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_spotify1M < 15) {
                            return row.entry_spotify1M
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.entry_spotify3M < 15) {
                            return row.entry_spotify3M
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_google50k < 15) {
                            return row.exit_google50k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_google100k < 15) {
                            return row.exit_google100k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_google150k < 15) {
                            return row.exit_google150k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_google300k < 15) {
                            return row.exit_google300k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_google500k < 15) {
                            return row.exit_google500k
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_spotify1M < 15) {
                            return row.exit_spotify1M
                        } else {
                            return 'Yes'
                        }
                    }
                },
                { data: null,
                    render : function (data, type, row) {
                        if(row.exit_spotify3M < 15) {
                            return row.exit_spotify3M
                        } else {
                            return 'Yes'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
                    className: 'text-center'
                },
                {   width: '5.8%', 
                    targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableActivationKnowHow').DataTable({
            data: <%- JSON.stringify(dashboard.activationKnowHow.dataActivationKnowHow) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.q1 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    className: 'text-center'
                },
                {   width: '25%', 
                    targets: [0, 1, 2, 3]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTablePromotionAwareness').DataTable({
            data: <%- JSON.stringify(dashboard.promotionAwareness.dataPromotionAwareness) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if(row.q2 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    className: 'text-center'
                },
                {   width: '25%', 
                    targets: [0, 1, 2, 3]
                },
            ],
            order: [[0, 'asc']],
        });

        $('#dataTableComplaintHandling').DataTable({
            data: <%- JSON.stringify(dashboard.complaintHandling.dataComplaintHandling) %>,
            columns: [
                { data: 'visit_date',
                    render : function (data, type, row) {
                        return formatDate(data)
                    }
                },
                { data: 'tbl_store.tbl_retailer.retailer_name' },
                { data: 'tbl_store.store_code' },
                { data: null,
                    render : function (data, type, row) {
                        if (row.q3 == true) {
                            return 'Yes'
                        } else {
                            return 'No'
                        }
                    }
                },
            ],
            columnDefs: [
                {
                    targets: [0, 1, 2, 3],
                    className: 'text-center'
                },
                {   width: '25%', 
                    targets: [0, 1, 2, 3]
                },
            ],
            order: [[0, 'asc']],
        });
    });

    

    formatDate = function(date) {
        var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
        hour = d.getHours();
        minute = d.getMinutes();
        
        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;
        
        var date = [year, month, day].join('-');
        var hourMinute = [hour, minute].join(':')

        return [date, hourMinute].join(' ')
    }

    // function downloadPOP(){
    //     var data = <%- JSON.stringify(dashboard.POPCompliance.dataPOPCompliance) %>
    //     data.map(obj => {
    //         console.log(obj)
    //     })
    //     $.ajax({
    //         url: '/function/download-pop' ,
    //         method: 'post',
    //         data: data.map(obj => {
    //             return obj
    //         }),
    //         success: function(res){
    //         },
    //         error: function() {
    //         }
    //     });
    // }

</script>

<script src="/js/upload.js"></script>
<!-- <script src="/js/download.js"></script> -->

<%- include('../layout/footer') -%>